.calculadora {
    padding: 10px;
    background: rgb(179, 25, 25);
    width: 200px;
    border-radius: 20px;
    box-shadow: 5px 2px rgb(97, 2, 2);
    text-align: center;
}
.listaMensal {
    padding: 10px;
    background: rgb(180, 7, 7);
    width: 200px;
    border-radius: 20px;

    box-shadow: 2px 2px;
    display: none;
}
.calculadora input {
    background: rgb(187, 71, 71);
    color: rgb(255, 255, 255);
    border-radius: 15px;
    height: 25px;
    border: none;
    width: 100%;
}    
.spResul {
    background: rgb(0, 0, 0);
    color: yellow;
    padding: 5px;
    margin: 5px;
    border-radius: 15px;
}

#btnCalc {
    padding: 5px;
    background: rgb(36, 212, 60);
    margin-top: 15px;
    border: none;
    border-radius: 10px;
    font-size: 24px;
}
#btnCalc:hover {
    background: rgb(19, 107, 29);
    color: white;
    cursor: pointer;
}
.calcF {
    display: none;
}
#calcFin {
    display: none;
}
#calcFin:checked + .calculadora .calcF {
    display: block;
}
